<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Connect Me</h1>
            </div>
            
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="zorrodong-github" aria-hidden="true"></i>
                <a target="_blank" href="https://github.com/zorrodong">
                    Zorro's Github
                </a>
            </div>
            
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="zorrodong-google-scholar" aria-hidden="true"></i>
                <a target="_blank" href="https://scholar.google.com.hk/citations?user=DfkHKmEAAAAJ&hl=zh-CN">
                    Zorro's Google Scholar
                </a>
            </div>
          
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="zorrodong-researchgate" aria-hidden="true"></i>
                <a target="_blank" href="https://www.researchgate.net/profile/Ji_Dong3">
                    Zorro's ResearchGate
                </a>
            </div>
        
        </div>
    
    </div>
</footer>
