<section class="container container-instagram">
  <div class="row">
    <div class="col-md-12">
      <h1>Publication</h1>
    </div>
    <div class="col-md-12">

      <div class="row list-row">
        <div class="col-md-7">
          <p>
          *indicates co-first author
          </p>
          <ul>
            <li>
              1. Single-cell RNA-Seq analysis maps development of human germline cells and gonadal niche interactions
                 L Li, J Dong*, L Yan, J Yong, X Liu, Y Hu, X Fan, X Wu, H Guo, X Wang, ...
                 Cell stem cell (2017) 20 (6), 858-873. e4
            </li>
            <li>
              2. Single-cell RNA-seq analysis unveils a prevalent epithelial/mesenchymal hybrid state during mouse organogenesis
                 J Dong , Y Hu, X Fan, X Wu, Y Mao, B Hu, H Guo, L Wen, F Tang
                 Genome biology (2018) 19 (1), 31
            </li>
            <li>
              3. Spatial transcriptomic survey of human  ebryonic cerebral cortex by single-cell RNA-seq analysis
                 X Fan, J Dong*, S Zhong, Y Wei. ...
                 Cell research (2018) 1
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
