<section class="container container-instagram">
  <div class="row">
    <div class="col-md-12">
      <h1>Publication</h1>
    </div>
    <div class="col-md-12">

      <div class="row list-row">
        <div class="col-md-5 row-top">
          <img src="./web-dist/images/rdv.png" class="img-fill light-shadow" alt="screenshot open source learning project">
        </div>
        <div class="col-md-7">
          <div>
            <h4 class="h-inline">Representative Publication</h4>
          </div>
          <p>
          *indicates co-first author
          </p>
          <ul>
            <li>Single-cell RNA-seq</li>
            <li>Embryonic development</li>
            <li>Tumor biology</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
