<section class="container container-instagram">
  <div class="row">
    <div class="col-md-12">
      <h1>Selected Publications</h1>
    </div>
    <div class="col-md-12">

      <div class="row list-row">
        <div class="col-md-7">
          <p>
          * indicates co-first author,  for the full list, please see the bottom link of my google scholar
          </p>
          <ul>
            <li>
              <a href="https://www.sciencedirect.com/science/article/pii/S1934590917300784">
                1. Single-cell RNA-Seq analysis maps development of human germline cells and gonadal niche interactions.
              </a>
            </li>
            <P>
              L Li,  <b>J Dong*</b>, L Yan, J Yong, X Liu, Y Hu, X Fan, X Wu, H Guo, X Wang, ...
            </P>
            <P>
              <b>Cell stem cell</b> (2017) 20 (6), 858-873. e4
            </P>
            
            <li>
              2. Single-cell RNA-seq analysis unveils a prevalent epithelial/mesenchymal hybrid state during mouse organogenesis.
                 J Dong , Y Hu, X Fan, X Wu, Y Mao, B Hu, H Guo, L Wen, F Tang.
                 Genome biology (2018) 19 (1), 31
            </li>
            
            <li>
              3. Spatial transcriptomic survey of human  ebryonic cerebral cortex by single-cell RNA-seq analysis.
                 X Fan, J Dong*, S Zhong, Y Wei, ...
                 Cell research (2018) 1
            </li>
              
            <li>
              4. Single-cell multiomics sequencing and analyses of human colorectal cancer.
                 S Bian, Y Hou, X Zhou, X Li, J Yong, Y Wang,..., Ji Dong, ...
                 Science (2018) 362(6418): 1060-1063.
            </li>
            
            <li>
              5. A single-cell RNA-seq survey of the developmental landscape of the human prefrontal cortex.
                 S Zhong, S Zhang, X Fan, Q Wu, L Yan, J Dong, H Zhang, L Li, L Sun, ...
                 Nature (2018) 555 (7697), 524
            </li>
            
            <li>
              6. Single-cell DNA methylome sequencing of human preimplantation embryos.
                 P Zhu, H Guo, Y Ren, Y Hou, J Dong, R Li, Y Lian, X Fan, B Hu, Y Gao, ...
                 Nature genetics (2018) 50 (1), 12
            </li>
            
            <li>
              7. Single-cell RNA sequencing analysis reveals sequential cell fate transition during human spermatogenesis.
                 M Wang, X Liu, G Chang, Y Chen, G An, L Yan, …, J Dong, ...
                 Cell stem cell (2018)
            </li>
            
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
